section img {
    width: 40%;
    height: 100px;
}

.main-projetos h4 {
    color: #0000;
}

#main-projetos section {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

.main-projetos section {
    margin-bottom: 20px;
}

#imgproject {
    width: 600px;
    height: 500px;
}