section img {
    width: 40%;
    height: 100px;
    margin: 20px 0 20px 0;
    border: 2.5px solid #000;
    
}

.main-projetos h4 {
    color: #0000;
}

#main-projetos section {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

.main-projetos section {
    margin-bottom: 20px;
}

#main-projetos .imgproject {
    width: 400px;
    height: 600px;
}

@media (min-width:700px){
    section img {
        width: 700px;
        height: 500px;
    }
}