main {
    width: auto;
    height: calc(100vh) auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

main p {
    margin: 0 11px;
    
}

ul {
    margin: 14px 0;
}

Footer {
    position: fixed;
    bottom: 0;
}